.splitter-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.horizontal {
  flex-direction: column;
}

.panel {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.1s ease, height 0.1s ease;
  box-sizing: border-box; /* Ensures padding doesn't affect layout */
  overflow: hidden; /* Prevents overflow of children */
}


.divider {
  background-color: #888;
  transition: background-color 0.2s;
}

.divider:hover {
  background-color: #555;
}

:not(.horizontal) > .divider {
  width: 5px;
  cursor: ew-resize;
}

.horizontal > .divider {
  height: 5px;
  cursor: ns-resize;
}

.panel > * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents internal overflow */
}
